.footerBlock {
    min-height: 100vh;
    background-color: grey;

}
.FooterContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(28, 238, 13, 0.4);
}
.infoBlock {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info {
    background-color: beige;
    width: 40px;
    height: 40px;
}
.reserved {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(28, 238, 13, 0.4);
}