.contactsBlock {
    background-color: #ec9a9a;
}
.contactsContainer {

    flex-direction: column;
    justify-content: flex-start;

}
.title {
    background-color: rgba(133, 227, 128, 0.4);
}

.formBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactsBlock input, .contactsBlock textarea {
    width: 100%;
}
.btnContacts {
    padding: 10px 20px;

}